#!/env/bash
alias -s go="vim"
alias -s js="vim"
alias -s jsx="vim"
alias -s py="vim"
alias -s rb="vim"
alias -s html="vim"
alias -s json="vim"
alias -s pl="vim"
alias -s h="vim"
alias -s cpp="vim"
alias -s hpp="vim"
alias -s c="vim"
alias -s java="vim"
alias -s swift="vim"
alias -s prl="vim"
alias -s sql="vim"
alias -s txt="vim"
alias -s md="vim"
alias -s erl="vim"
alias -s config="vim"
alias -g gp="|grep -i"
alias ll="ls -lah"
