# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Dmitry Sirotkin
	email = sirotkin.dmitry@yahoo.com
	signingKey = 9A8ADD6D70C8A541
[commit]
	gpgSign = true
[gpg]
	program = gpg2
