alias -s go=vim
alias -s js=vim
alias -s py=vim
alias git="/usr/local/bin/git"
alias ll="ls -lah"
alias ohmyzsh="vim ~/.oh-my-zsh"
alias reload="source ~/.zshrc"
alias st="open -a \"SourceTree\""
alias vim="/usr/local/bin/vim"
alias zshconfig="vim ~/.zshrc"
