[user]
    name = Dmitry Sirotkin
    email = startrial@me.com
[mergetool]
	keepBackup = false
	prompt = false
[core]
	editor = vim
[commit]
	template = ~/.stCommitMsg
[push]
	default = simple
[merg]
	conflictstyle = diff3
[remote "origin"]
    fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool
